h1,h2,h3,h5{
    text-align: center;
    color: navy;
    font-family: Arial;
}
.name{
    font-size: 2rem;
    color: cadetblue;
}
p{
    text-align: justify;
    padding: 40px 24px;
    font-size: 18px;
    font-family: sans-serif;
    color: lavenderblush;
    background-color: rgba(0, 0, 0, 0.555);
}
.center{
    margin: 0 auto;
    width: 130px;
    display: block;
}
img{
    height: 200px;
    width: 250px;
    margin: 0 20px;
}
input{
    margin: 0 20px;
}
textarea{
    margin: 20px 0;
    width: 300px;
}